<ion-header no-border>
    <ion-toolbar color="light">
        <ion-title>
            Favoritos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-slides *ngIf="dataLocalService.news.length === 0" [options]="slideOpts">
        <ion-slide>
            <ion-label>No hay favoritos.</ion-label>
        </ion-slide>
    </ion-slides>
    <app-news [inFavorites]="true" *ngIf="dataLocalService.news.length > 0" [news]="dataLocalService.news"></app-news>
</ion-content>
